@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
margin: 0;
padding: 0;
}
:root{
    --cores:#070757;
    --fundo:#8ac6dc;
    --texto:center;
    --tamanho: 50em;
    --borda:10px;
    --bordaFild:1px solid black;
}
.exp-jogador ,.scClas,.cpEspecificoes{
text-align: var(--texto);
background-color: var(--fundo);
width: var(--tamanho);
margin-left:33em;
margin-top:.2em;
border-radius:var(--borda);
}
.scClas{
    background-color: #a4e5e8;
    }
    .cpEspecificoes{
    background-color: #dce8a4;

    }
.exp-jogador p , .scClas p,.cpEspecificoes p{
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}
.exp-jogador h1 {
   font-family: 'Fasthand', cursive; 
   font-size: 5em;
   color: var(--cores)
}
legend{
    color: #fd064c;
    border: var( --bordaFild);
    border-radius:var(--borda);
}
fieldset{
    border: var( --bordaFild);
    border-radius:var(--borda);

}
textarea{
    position: absolute;
    
}
.radioSiNO{
    position: relative;
    top:-1.2em;
    right: 10.5em;
    font-size: 1.4em;
    color: #0654fd;
}

.btnBotao{
    position: relative;
    width: 400px;
    height:50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #fefefe;
    background-color: #2c48e8;
    left: 25em;
    font-family: 'Playfair Display', serif;
    border: none;
    border-radius: 10px;
    transition: .5s;
}
.btnBotao:hover{
    background-color: #919ee5;
    cursor: pointer;

}
.btnBotao:active{
    background-color: #38f604;
    cursor: pointer;
}
