@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Teko:wght@600&display=swap');

*{
margin: 0;
padding: 0;

}
:root{
    --corPrimaria:#1A0205;
}
body{
    width: 100vh;
    height: 100vh;
    margin: 1% 28%;
    background-color: #413f3f;
   
}
.apresentacao{
   font-family: 'Teko', sans-serif;
   display: flex;
   gap:30px; 
   flex-wrap: wrap;
   border: 1px solid #000;
   border-radius: 15px; 
   padding:5%;
   background-color: var(--corPrimaria);
   
}
.apresentacao h2, h1{
    color:#F03AB9;
}
.apresentacao p ,label{
color: #FFF;
}
.sobre__cla{
    margin-top: 3rem;
}
.btn__Botao{
    width: 12rem;
    height: 4rem;
    margin:13.75rem 0 0 13.75rem;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 28px;
    background-color:#FF3DF5;
    cursor: pointer;
    color: #FFF;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}

.btn__Botao:hover{
    background-color:#cc43c5;
    box-shadow: 1px 1px 10px #fff;
}

